*{
    padding:0;
    margin:0;
}
body{
    background-color: #548687;
    text-align: center;
}
div{
    height:30px;
}
.container{
    height:70%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box-x {
    color: red;  /* Set color for "X" */
    font-weight: bold;
}

.box-o {
    color: rgb(5, 89, 10);  /* Set color for "O" */
    font-weight: bold;
}

.b1{
    height:18vmin;
   width: 18vmin;
   border-radius: 1rem;
   border: none;
   box-shadow: 0 0 1rem rgba(0,0,0,0.3);
   font-size: 8vmin;
  
   background-color: #ffffc1;
}
.reset{
    padding: 1rem;
    font-size: 1.5rem;;
   background-color: #191913;
   color: white;
   border-radius: 1rem;
}
#new{
    padding:1rem;
    font-size: 1.5rem;;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
}
#msg{
    color:azure;
    font-size: 50px;
}
.msg-container{
    height:40vmin;
}
.hide{
    display: none;
}